---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import BackButton from '../../components/BackButton.astro';

import lookMortyImage from '../../assets/img/experiments/look_morty/rick_and_morty.png';
import eyeImage from '../../assets/img/experiments/look_morty/eye.png';
---

<script>
	var eyes = document.querySelectorAll('.eye');

	document.onmousemove = function (e) {
		var x = e.pageX;
		var y = e.pageY;

		eyes.forEach(function (eye) {
			var eyeX = eye.getBoundingClientRect().left + eye.clientWidth / 2;
			var eyeY = eye.getBoundingClientRect().top + eye.clientHeight / 2;

			var radianDegrees = Math.atan2(x - eyeX, y - eyeY);
			var rotationDegrees = radianDegrees * (180 / Math.PI) * -1 + 90;

			(eye as HTMLElement).style.transform = `rotate(${rotationDegrees}deg)`;
		});
	};
</script>

<BaseLayout title="Look, Morty!">
	<BackButton href="/experiments" />
	<main>
		<img src={lookMortyImage.src} alt="Rick and Morty" id="anchor" />
		<div id="eyes">
			<img src={eyeImage.src} alt="Mortys left eye" class="eye" style="top: 71px; right: 74px;" />
			<img src={eyeImage.src} alt="Mortys right eye" class="eye" style="top: 58px; right: 2px;" />
			<img src={eyeImage.src} alt="Ricks left eye" class="eye" style="top: -88px; right: -88px;" />
			<img src={eyeImage.src} alt="Ricks right eye" class="eye" style="top: -91px; right: -156px;" />
		</div>
	</main>
</BaseLayout>

<style>
	body {
		background-color: #fff;
		padding: 0;
		margin: 0;
	}

	main {
		display: grid;
		place-items: center;
		min-height: 100vh;
		position: relative;
	}

	#eyes,
	#eyes img {
		position: absolute;
		user-select: none;
	}

	#anchor,
	#anchor img {
		user-select: none;
	}
</style>
