---
import { Icon } from 'astro-icon/components';

const iconSize = 24;
---

<script>
	const sidebar = document.querySelector('.sidebar');
	const nav = document.querySelector('nav');

	// get active link
	const navLinks = nav.querySelectorAll('a');
	const currentURL = window.location.href;
	navLinks.forEach((link) => {
		if (link.href === currentURL || link.href + '/' === currentURL) {
			link.classList.add('active');
		}
	});

	// sidebar toggle
	const mobileNavToggle = document.querySelector('.mobile-nav-toggle');
	const svgPath = mobileNavToggle.querySelector('path');

	mobileNavToggle.addEventListener('click', () => {
		sidebar.classList.toggle('nav-active');

		// change icon
		if (sidebar.classList.contains('nav-active')) {
			svgPath.setAttribute('d', 'm16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z');
		} else {
			svgPath.setAttribute('d', 'M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z');
		}
	});

	// get sidebar links
	let sidebarLinks = sidebar.querySelectorAll('a');

	// when no sidebar toggle item is visible, set tabindex to 0
	if ((mobileNavToggle as HTMLElement).style.display == '') {
		sidebarLinks.forEach((link) => {
			link.tabIndex = 0;
		});
	}

	// on smaller screens, when sidebar is closed, set tabindex to -1, if its open set it to 0
	sidebarLinks.forEach((link) => {
		mobileNavToggle.addEventListener('click', () => {
			if (!sidebar.classList.contains('nav-active')) {
				link.tabIndex = -1;
			} else {
				link.tabIndex = 0;
			}
		});
	});
</script>

<div class="mobile-nav-toggle" tabindex="0">
	<Icon name="bx:bx-menu" width={iconSize} height={iconSize} />
</div>

<div class="sidebar">
	<nav>
		<ul>
			<li><a href="/"><Icon name="bx:home" width={iconSize} height={iconSize} />Home</a></li>
			<li><a href="/projects"><Icon name="bx:code-block" width={iconSize} height={iconSize} />Projects</a></li>
			<li><a href="/experiments"><Icon name="bx:test-tube" width={iconSize} height={iconSize} />Experiments</a></li>
		</ul>
		<ul>
			<li><a href="/settings"><Icon name="bx:bx-cog" width={iconSize} height={iconSize} />Settings</a></li>
		</ul>
	</nav>
</div>

<style>
	:root {
		--sidebar-width: 160px;
		--sidebar-color: var(--slate-17);
	}

	.sidebar {
		position: block;
		width: var(--sidebar-width);
		min-width: var(--sidebar-width);
		height: 100%;
		transition: all ease-in-out 0.5s;
	}

	nav {
		background: var(--sidebar-color);
		display: flex;
		flex-direction: column;
		height: 100%;
		height: 100%;
		justify-content: space-between;
		left: 0;
		min-width: var(--sidebar-width);
		position: fixed;
		transition: left ease-in-out 0.5s;
		z-index: 100;
	}

	.sidebar ul {
		list-style: none;
		padding: 1.3rem 0 1.3rem 0;
	}

	.sidebar svg {
		margin-right: 0.6rem;
	}

	.sidebar a {
		display: flex;
		align-items: center;
		padding: 0.7rem 15px;
		font-size: 15px;
		color: var(--slate-70);
		text-decoration: none;
	}

	.sidebar a:hover,
	.sidebar a:focus {
		color: #fff;
	}

	.sidebar .active {
		color: #fff;
		border-left: 2px solid var(--cyan-50);
	}

	@media (max-width: 1270px) {
		nav {
			left: calc(var(--sidebar-width) * -1);
		}

		.sidebar {
			width: 0;
			min-width: 0;
		}
	}

	.mobile-nav-toggle {
		position: fixed;
		right: 15px;
		top: 15px;
		border-radius: 50px;
		cursor: pointer;
		z-index: 101;
		color: var(--slate-70);
	}

	.mobile-nav-toggle:hover {
		color: #fff;
	}

	.nav-active,
	.nav-active nav {
		left: 0;
	}

	@media (min-width: 1271px) {
		.mobile-nav-toggle {
			display: none;
		}
	}
</style>
