---
import Layout from '../../layouts/MainLayout.astro';
import Card from '../../components/Card.astro';

import lookMortyImage from '../../assets//labs/look-morty/rick-and-morty.png';
import polyrhythmImage from '../../assets/labs/polyrhythm/polyrhythm.png';
import starTrailsImage from '../../assets/labs/star-trails/trails.png';
import ticTacToeImage from '../../assets/labs/tic-tac-toe/tic-tac-toe.png';

let placeholder = 'https://images.unsplash.com/photo-1542621334-a254cf47733d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'; // https://via.placeholder.com/350x220
---

<Layout title="Labs">
	<main>
		<section id="title" class="title">
			<h1>My <span class="text-gradient">Experiments</span></h1>
			<p class="sub">Just some simple things I've been working on.</p>
		</section>

		<div class="experiments" transition:name="cards">
			<Card title="Look, Morty!" sub="" image={lookMortyImage} href="/labs/look-morty" />
			<Card title="Polyrhythm" sub="Ding, ding, ding!" image={polyrhythmImage} href="/labs/polyrhythm" />
			<Card title="Star Trails" sub="Mesmerizing!" image={starTrailsImage} href="/labs/star-trails" />
			<Card title="Tic Tac Toe" sub="Play with a friend!" image={ticTacToeImage} href="/labs/tic-tac-toe" />
			<Card title="Work in progress" sub="More coming soon" image={placeholder} />
		</div>
	</main>
</Layout>

<style>
	main {
		padding-bottom: 5rem;
		line-height: 1.6;
		max-width: 1150px;
		margin: auto;
		padding: 0 1.5rem 3rem;
	}

	.experiments {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1rem;
	}
</style>
