---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BackButton from "../../components/BackButton.astro";
import { Icon } from "astro-icon/components";
---

<BaseLayout title="Tic Tac Toe" transitions={false}>
	<BackButton href="/labs" />

	<div class="game">
		<div id="status" class="status">
			<p id="status-player-X" style="display: block;">Player <span class="X"><Icon name="ph:x" /></span></p>
			<p id="status-player-O" style="display: none;">Player <span class="O"><Icon name="ph:circle" /></span></p>
			<p id="status-winner-X" style="display: none;">Player <span class="X"><Icon name="ph:x" /></span> wins!</p>
			<p id="status-winner-O" style="display: none;">Player <span class="O"><Icon name="ph:circle" /></span> wins!</p>
			<p id="status-draw" style="display: none;">It's a draw!</p>
		</div>

		<table class="board">
			<tr>
				<td class="square top left" data-index="0">
					<div class="X" style="display: none;">
						<Icon name="ph:x" />
					</div>
					<div class="O" style="display: none;">
						<Icon name="ph:circle" />
					</div>
				</td>
				<td class="square top" data-index="1">
					<div class="X" style="display: none;">
						<Icon name="ph:x" />
					</div>
					<div class="O" style="display: none;">
						<Icon name="ph:circle" />
					</div>
				</td>
				<td class="square top right" data-index="2">
					<div class="X" style="display: none;">
						<Icon name="ph:x" />
					</div>
					<div class="O" style="display: none;">
						<Icon name="ph:circle" />
					</div>
				</td>
			</tr>
			<tr>
				<td class="square left" data-index="3">
					<div class="X" style="display: none;">
						<Icon name="ph:x" />
					</div>
					<div class="O" style="display: none;">
						<Icon name="ph:circle" />
					</div>
				</td>
				<td class="square" data-index="4">
					<div class="X" style="display: none;">
						<Icon name="ph:x" />
					</div>
					<div class="O" style="display: none;">
						<Icon name="ph:circle" />
					</div>
				</td>
				<td class="square right" data-index="5">
					<div class="X" style="display: none;">
						<Icon name="ph:x" />
					</div>
					<div class="O" style="display: none;">
						<Icon name="ph:circle" />
					</div>
				</td>
			</tr>
			<tr>
				<td class="square bottom left" data-index="6">
					<div class="X" style="display: none;">
						<Icon name="ph:x" />
					</div>
					<div class="O" style="display: none;">
						<Icon name="ph:circle" />
					</div>
				</td>
				<td class="square bottom" data-index="7">
					<div class="X" style="display: none;">
						<Icon name="ph:x" />
					</div>
					<div class="O" style="display: none;">
						<Icon name="ph:circle" />
					</div>
				</td>
				<td class="square bottom right" data-index="8">
					<div class="X" style="display: none;">
						<Icon name="ph:x" />
					</div>
					<div class="O" style="display: none;">
						<Icon name="ph:circle" />
					</div>
				</td>
			</tr>
		</table>
	</div>

	<script lang="javascript" is:inline>
		const squares = document.querySelectorAll(".square");

		let currentPlayer = "X";
		let board = ["", "", "", "", "", "", "", "", ""];
		let gameOver = false;
		let isBotThinking = false;

		const winMatrix = [
			[0, 1, 2],
			[3, 4, 5],
			[6, 7, 8],
			[0, 3, 6],
			[1, 4, 7],
			[2, 5, 8],
			[0, 4, 8],
			[2, 4, 6]
		];

		squares.forEach((square) => square.addEventListener("click", handleClick));

		function handleClick(e) {
			let clickedSquare = e.target;

			if (gameOver) {
				board = ["", "", "", "", "", "", "", "", ""];
				currentPlayer = "X";
				squares.forEach((square) => {
					square.querySelector(".X").style.display = "none";
					square.querySelector(".O").style.display = "none";
					square.style.cursor = "pointer";
				});
				document.getElementById("status-winner-X").style.display = "none";
				document.getElementById("status-winner-O").style.display = "none";
				document.getElementById("status-draw").style.display = "none";
				document.getElementById("status-player-O").style.display = "none";
				document.getElementById("status-player-X").style.display = "block";
				gameOver = false;
				return;
			}

			if (isBotThinking) {
				return;
			}

			if (currentPlayer === "X") {
				playerMove(clickedSquare);
			}

			if (currentPlayer === "O") {
				isBotThinking = true;
				setTimeout(() => {
					botMove();
					isBotThinking = false;
				}, 300);
			}
		}

		function playerMove(clickedSquare) {
			let index = clickedSquare.dataset.index;

			if (board[index] !== "") {
				clickedSquare.style.cursor = "default";
				return;
			}

			board[index] = currentPlayer;

			let player = clickedSquare.querySelector(`.square .${currentPlayer}`);
			player.style.display = "block";
			clickedSquare.style.cursor = "default";

			checkForWin();
		}

		function botMove() {
			let botSquare = null;

			// get winning move
			for (let [a, b, c] of winMatrix) {
				if (board[a] === "O" && board[b] === "O" && board[c] === "") {
					botSquare = squares[c];
					break;
				}
				if (board[a] === "O" && board[c] === "O" && board[b] === "") {
					botSquare = squares[b];
					break;
				}
				if (board[b] === "O" && board[c] === "O" && board[a] === "") {
					botSquare = squares[a];
					break;
				}
			}

			// get blocking move
			if (!botSquare) {
				for (let [a, b, c] of winMatrix) {
					if (board[a] === "X" && board[b] === "X" && board[c] === "") {
						botSquare = squares[c];
						break;
					}
					if (board[a] === "X" && board[c] === "X" && board[b] === "") {
						botSquare = squares[b];
						break;
					}
					if (board[b] === "X" && board[c] === "X" && board[a] === "") {
						botSquare = squares[a];
						break;
					}
				}
			}

			// get random move
			if (!botSquare) {
				let emptySquares = board.reduce((acc, val, idx) => (val === "" ? [...acc, idx] : acc), []);
				let randomIndex = emptySquares[Math.floor(Math.random() * emptySquares.length)];
				botSquare = squares[randomIndex];
			}

			let botPlayer = botSquare.querySelector(`.square .${currentPlayer}`);
			botPlayer.style.display = "block";
			botSquare.style.cursor = "default";
			board[botSquare.dataset.index] = currentPlayer;
			checkForWin();
		}

		function checkForWin() {
			for (let [a, b, c] of winMatrix) {
				if (board[a] && board[a] === board[b] && board[a] === board[c]) {
					document.getElementById(`status-player-${currentPlayer}`).style.display = "none";
					document.getElementById(`status-winner-${currentPlayer}`).style.display = "block";
					squares.forEach((square) => (square.style.cursor = "default"));
					gameOver = true;
					return;
				}
			}

			if (!board.includes("")) {
				document.getElementById(`status-player-${currentPlayer}`).style.display = "none";
				document.getElementById("status-draw").style.display = "block";
				squares.forEach((square) => (square.style.cursor = "default"));
				gameOver = true;
				return;
			}

			document.getElementById(`status-player-${currentPlayer}`).style.display = "none";
			currentPlayer = currentPlayer === "X" ? "O" : "X";
			document.getElementById(`status-player-${currentPlayer}`).style.display = "block";
			console.log(board);
		}
	</script>
</BaseLayout>

<style>
	body {
		background-color: var(--slate-20);
		margin: 0;
	}

	.game {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100vh;
		font-size: 3rem;
	}

	.status {
		color: var(--slate-80);
		margin-bottom: 1rem;
		font-size: 2rem;
		font-weight: 300;
		text-align: center;
	}

	.status svg {
		vertical-align: middle;
	}

	.X {
		color: var(--cyan-80);
	}

	.O {
		color: var(--lavender-80);
	}

	.board {
		border-collapse: collapse;
	}

	.board .square {
		border: 0.3rem solid var(--slate-60);
		width: 100px;
		height: 100px;
		text-align: center;
		font-size: 3rem;
		cursor: pointer;
	}

	.board .top {
		border-top: none;
	}

	.board .bottom {
		border-bottom: none;
	}

	.board .left {
		border-left: none;
	}

	.board .right {
		border-right: none;
	}
</style>
